
@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Content/images/person_1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$300</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Content/images/person_2.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$150</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Content/images/person_3.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$250</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Content/images/person_4.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$300</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Content/images/person_5.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$150</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Content/images/person_8.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$150</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Content/images/person_9.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$250</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter ftco-intro" id="section-counter" style="padding-bottom: 50px;">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-1 align-items-stretch">
                    <div class="text">
                        <span>Приблизительное число пострадавших женщин </span>
                        <strong class="number" data-number="50000">0</strong>
                        <span>в мире за 2018 год</span>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-2 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Пожертвования</h3>
                        <p>Ваше соучастие -поможет спасти чью то жизнь</p>
                        <p><a href="#" class="btn btn-white px-3 py-2 mt-2">Помочь</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-3 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Стать Волонтером</h3>
                        <p>Ваше Волонтерство- это надежда жертв насилия,которую можно превратить в жизнь общими усилиями. </p>
                        <p><a href="/Home/Index/#volonteer" class="btn btn-white px-3 py-2 mt-2">Стать Волонтером</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


