
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>



    <div class="hero-wrap" style="background-image: url('/Content/images/bg_9.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Экстренные номера и адреса в городе Харьков</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section ftco-degree-bg">
        <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h2 class="mb-3" mt-5>#1. Что делать в случае домашнего насилия:</h2>
                <p>В случае насилия необходимо вызвать полицию – 102. Обратиться за бесплатной правовой помощью также можно в Единый контакт-центр юридической помощи: 0800-213-103 (круглосуточно и бесплатно в пределах Украины).</p>

                <p>  Как рассказали в Управлении государственной регистрации, по инициативе полиции или по заявлению пострадавшего человека к обидчику может быть применено срочное предписание, которое предусматривает: </p>

                <p> - обязательства покинуть место жительства (пребывания) пострадавшего лица; </p>

                <p>  - запрет на вход и пребывание в месте жительства (нахождения) пострадавшего лица; </p>

                <p>
                    - запрет в любой способ контактировать с пострадавшим лицом.
                </p>

                За невыполнение предписания обидчику назначают штраф, общественные работы или административный арест. Срок действия предписания – до 10 суток.
                </p>

                На более длительный срок выдается ограничительное предписание. Основанием является заявление потерпевшего или его представителя, родителей, родственников, органа опеки и попечительства. Решение о применении ограничительного предписания принимает суд. Оно предусматривает:
                </p>

                <p>  - запрет находиться в месте совместного проживания (пребывания); </p>

                <p> - устранение препятствий в пользование имуществом потерпевшим лицом; </p>

                <p>  - ограничение общения с пострадавшим ребенком; </p>

                <p> - запрет приближаться на определенное расстояние к месту жительства (пребывания), учебы, работы, других места посещения пострждавшего лица; </p>

                <p> - запрет лично и через третьих лиц разыскивать пострадавшее лицо, преследовать ее, общаться; </p>

                <p>
                    - запрет вести переписку, телефонные переговоры с пострадавшим лицом на срок до шести месяцев.
                </p>

                <p>   Согласно статье 24 Закона к специальным мерам по противодействию домашнему насилию относятся: </p>



                <p>  1) срочное запрещающее предписание относительно обидчика;</p>

                <p> 2) ограничительное предписание относительно обидчика;</p>

                <p> 3) постановка на профилактический учет обидчика и проведение с ним профилактической работы;</p>

                <p> 4) направление обидчика на прохождение программы для обидчиков.</p>

                <h2 class="mb-3 mt-5">#2. Где  можно получить помощь?</h2>
                <p>Национальная "горячая" линия 116-123 по предоставлению бесплатной юридической помощи лицам, ставшим жертвами домашнего насилия (защита, представительство в суде, составление документов) работает круглосуточно. </p>

                <p>  Телефон: 0800-213-103</p>

                <p>  Адреса центров по предоставлению бесплатной помощи в Харькове:</p>

                <p> Первый харьковский местный центр по предоставлению бесплатной вторичной правовой помощи: г. Харьков, ул. Московский, 27.</p>

                <p>  Третий харьковский местный центр по предоставлению бесплатной вторичной правовой помощи: г. Харьков, ул. Науки, 56, офис 216 (2 этаж).</p>
                <p>
                    <img src="images/image_8.jpg" alt="" class="img-fluid">
                </p>


                <p style="font-weight:bold;}">1. Дневной центр социально-психологической реабилитации "Разорви круг" </p>
                <p>В центре будут оказывать помощь мужчинам и женщинам, пострадавшим от насилия, детям и подросткам, которые стали свидетелями насилия, а также другим членам семьи, которым нужна помощь. Центр объединил более 10 общественных организаций, которые занимаются этой социальной проблемой.Есть Ночное отделение — это отделение экстренного реагирования. Оно рассчитано на проживание шести человек в течение трех суток. В нем предусмотрены спальни, душевые, кухня, детская комната.</p>

                
                <p>Круглосуточно работает бесплатная и анонимная "горячая линия":
                    0800500335 (со стационарных телефонов);
                    116123 (с мобильных).</p>
                <p>Адрес:проспект Льва Ландау, 48.</p>

                <p style="font-weight:bold;}">2. Телефон доверия "Нить Ариадны". Бесплатно, конфиденциально и анонимно. Здесь окажут экстренную психологическую помощь и поддержку по любым вопросам, не только о насилии. Депрессии, панические атаки, проблемы в семье или на работе, мысли о суициде и так далее. Звонить могут также дети и подростки. Ежедневно с 17 до 21.</p>
                <p>Телефоны: (057) 700-39-52; (063) 400-3-300; (099) 092-55-51</p>

                <p>Skype: nitka-ariadna</p>


                <p style="font-weight:bold;}">3. Горячая линия Международного правозащитного центра La Strada –Украина.</p>
                <p>Центр занимается вопросами насилия в семье, гендерного насилия и дискриминации, защиты прав детей, проблемой торговли людьми. По телефону можно получить психологическую помощь. Если вы или ваш знакомый стали жертвой торговли людьми, то центр предоставляет также медицинскую, юридическую помощь, временное проживание в своем приюте (г. Киев)</p>
                <p>Телефон: 8-800-500-33-50 (с 9 до 20, кроме воскресенья).</p>

                <p style="font-weight:bold;}">4. Общественная организация "Надия"</p>
                <p>Кризисный центр для женщин. Поможет не только жертвам насилия, но и женщинам, оказавшимся в трудной жизненной ситуации. В центре можно получить консультацию юриста, психолога, пройти тренинги для женщин, среди которых: "Как устроиться на работу", "Бесконфликтное общение", "Права человека", "Предупреждение домашнего насилия и торговли женщинами", "Как начать свой бизнес".  Все услуги анонимные, конфиденциальные и бесплатные.</p>
                <p>Телефон: (057) 719-44-02 (пн-пт с 9 до 17 часов).</p>
                <p>Адрес: Харьков, ул. Петровского, 6/8.</p>


                <p style="font-weight:bold;}">5. Центр помощи переселенцам, бездомным и малоимущим при Римско-Католической церкви.</p>
                <p>Хотя среди перечисленных категорий нет женщин, ставших жертвой насилия, в центре не откажут в помощи любому, кто в ней нуждается. Особенно если, к примеру, женщина убежала из дома после угроз или побоев мужа, и ей просто некуда идти. Здесь можно получить одежду, еду, медицинскую помощь, переночевать.</p>
                <p>Адрес: ул. Гоголя, 4.</p>


            </div>
        </div>
        </div>
    </section>
</body>